@import url("https://fonts.googleapis.com/css?family=Lobster:400,700|Lobster:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Lobster+Two:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade:400,700|Bungee+Shade:100,300,400");

.App {
  font-family: 'Lobster', sans-serif;
  border: 5px solid grey;
  border-radius: 15px;
  margin: auto;
  padding: 20px 0;
  max-width: 600px;
  min-height: 600px;

  .App__heading {
    font-family: 'Bungee Shade', cursive;
    margin: auto;
    text-align: center;
    padding-top: 10px;
  }

  .App__description {
    padding: 0px 30px;
  }

  .App__linkBox {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px 20px 30px;

    .App__link {
      font-family: 'Bungee Shade', cursive;
      color: brown;
      font-size: larger;
      border-radius: 10px;
      padding: 5px;
    }
    .App__link:hover {
      opacity: 0.5;
      background-color: lightgrey;
    }
  }

  .Instructions__container {
    font-family: 'Lobster Two', sans-serif;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 700px) {
  .App {
    padding: 0;
    .App__heading {
      font-size: 1.2em;
    }
    .App__description {
      padding: 0px 10px;
      font-size: 1em;
    }
    .Instructions__container {
      font-size: 0.9em;
      .Instructions__heading {
        font-size: 1.1em;
      }
      .Instructions__paragraph {
        margin: 10px 0;
      }
    }
  }
}